body {
  font-family: Arial;
  background: #1e1e1e;
  color: #fff;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;

}

a, button {
  color: #61dafb;
  text-decoration: none;
  padding: 4px 8px;
}

button {
  background: none;
  border: 1px solid #61dafb;
  cursor: pointer;
}

button:hover, a:hover {
  background-color: #333;
}
